* {margin: 0; padding: 0; font-family: 'Poor Story', cursive;/*송찬우 추가*/}}
img {border: 0;}
body{
	position:relative;
	background-color:black;
}
#container{
	text-align:center;
	width:1000px;
	height:720px;
	position:absolute; /* 송찬우 수정, 모든 컴퓨터에서 화면 상 가운데 배치*/
	top:10px;
	overflow:hidden;
	background-image:url("img/brick_dark.jpg");
	background-size:cover;
}
#mycanvas{ /*김영록 수정*/
	display: none;
	/* float: left; 송찬우 수정, 필요없는 코드같아서 주석처리 했습니다. 혹시 필요한거였다면 죄송합니다.*/
}
/*div#item-image-level1{
	width: 200px;
	float: right;
}*/
#interface{
	width:1000px;
	height:100px;
/*	margin-top:620px; /* 인터페이스 영역 변경 위해 수정 - 송찬우*/*/
	text-align:center;
	display:none;
}

.interfaceMenu{
	width:200px;
	height:100px;
	/*padding:0px 50px;*/
	background-color:gray;
	float:left;
}

#item-image-level1{
	display: none;
}
#item-image-level2{
	display: none;
}
#item-image-level3{
	display: none;
}

div.level1-image{
	float: left;
	width: 50px;
	height: 50px;
	background-color: gray;
}
div#item-image-level1>div{
	overflow: hidden;
}
div.level1-image>img{
	width: 50px;
	height: 50px;
}
div.level2-image{
	float: left;
	width: 50px;
	height: 30px;
	background-color: gray;
}
div#item-image-level2>div{
	overflow: hidden;
	/*display: none;*/
}
div.level2-image>img{
	width: 50px;
	height: 30px;
}
div.level3-image{
	float: left;
	width: 30px;
	height: 30px;
	background-color: gray;
}
div#item-image-level3>div{
	overflow: hidden;
	/*display: none;*/
}
div.level3-image>img{
	width: 30px;
	height: 30px;
}
div#item-image-level4{ /*보스맵에서 비는 인터페이스 창 채우기 위해 수정 -송찬우*/
	width: 200px;
	height: 100px;
	display: none;
}
.interfaceMenu:nth-of-type(3){
	width:300px;
	height:100px;
	padding:0px 50px;
	background-color:gray;
	float:left;
}
#life h2{
	color:red;
}
div#button_field{ /*김영록 추가 버튼 가운데 배치 하기 위함*/
	margin-top: 500px;
}
button{
	width:100px;
	height:50px;
	font-size:20px;
	margin:auto 50px;
	background-color:white;
}
button:hover{
	transform:scale(1.3);
}
.popup{
	position:fixed;
	top:100px;
	background-color:gray;
	padding:30px 20px;
	z-index:1;
	width:500px;
	height:400px;
	border: 1px solid black;
}
.story_div{
	position:fixed;
	top:0;
	z-index:1;
	width:1000px;
	height:720px;
	display:none;
	color: white;
    font-size: 30px;
}
.story_div>p{
	padding:30px 20px;
}
#story_div1{
	background-image:url("img/witch.jpg");
	background-size: cover;
}

#story_div2{
	background-image:url("img/village.jpg");
	background-size: cover;
}
#story_div3{
	background-image:url("img/forest.jpg");
	background-size: cover;
}
#setting_div{
	display:none;
	padding:30px 50px;
}
.setting_list{
	width:500px;
	height:100px;
	overflow:hidden;
	margin:25px 0px;
}
.setting_list audio{
	float:right;
	background-color:gray;
}
.setting_list h2{
	float:left;
}
.setting_list input{
	float:right;
}
#guide_div{
	display:none;
	padding:30px 50px;
}
.guide_list{
	
	overflow:hidden;
	margin:25px 0px;
}

#stage{
	display:none;
	margin:500px 0px 0px 0px; /*김영록 수정 margintop 0 -> 500으로 수정(가운데 배치)*/
	position:relative;
	overflow:hidden;
}
.stage_field{
	float:left;
	margin-top:10px;
	width:200px;

}
.stage_field h1{
	font-size:60px;
}
.stage_field h1:hover{
	transform:scale(1.3);
}
#red h1{
	color:red;
}
#green h1{
	color:green;
}
#blue h1{
	color:blue;
}
#back{
	float:left;
}
#back h1{
	padding:0px 0px 0px 20px;
	text-align:left;
	color:yellow;
	font-size:60px;
}

/*스킬블록 추가 김영록 */
div#skill div{
	overflow: hidden;
}
div.skill_block{
	float: left;
	opacity: 0.3;
	color: black;
	text-align: center;
	line-height: 50px;
	width: 100px;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
}
#skill1{
	background-image: url("skill_R_interface.PNG");
}
#skill2{
	background-image: url("skill_G_interface.PNG");
}
#skill3{
	background-image: url("skill_B_interface.PNG");
}
#ending{
	text-align:center;
	width:1000px;
	height:720px;
	position:relative;
	overflow:hidden;
	margin: 0 auto;
	background-color: white;
	display: none;
}
.ending_story{
	width:1000px;
	height:720px;
	/*display:none;*/
	color: black;
    font-size: 30px;
}
#player_name{
	margin-top: 300px;
}
